# Files from Xytriza which aren't in the git repository
htdocs/upload.xytriza.com/.well-known/discord/index.html
htdocs/upload.xytriza.com/robots.txt
htdocs/upload.xytriza.com/google6270ce99c7bef73d.html
htdocs/upload.xytriza.com/sitemap.xml
auth.json